<!-- Mainly scripts -->

<script src="/static/common/inspinia/js/popper.min.js"></script>
<script src="/static/common/inspinia/js/bootstrap.js"></script>
<script src="/static/common/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/common/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peity -->
<script src="/static/common/inspinia/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/static/common/inspinia/js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/common/inspinia/js/inspinia.js"></script>
<script src="/static/common/inspinia/js/plugins/pace/pace.min.js"></script>

<!-- iCheck -->
<script src="/static/common/inspinia/js/plugins/iCheck/icheck.min.js"></script>
<!-- Sweet alert -->
<script src="../../static/common/inspinia/js/plugins/sweetalert/sweetalert.min.js"></script>

