<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="/static/img/student.png" height="50px">
                    <!--                        <img src="/static/img/student.png"/" alt="image" class="rounded-circle m-t-xs img-fluid">-->
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        {% if user.is_authenticated %}
                            <span class="block m-t-xs font-bold">{{ user.first_name }}{{ user.last_name }}</span>
                        {% else %}
                            <span class="block m-t-xs font-bold">游客</span>
                        {% endif %}



                        <span class="text-muted text-xs block">计算机科学与技术学院 <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="profile.html">软件工程系</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li id="inform_li">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">操作须知</span>  <span class="float-right label label-primary">重要</span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/view/student/inform.jsp">《研究生导师双选办法》</a></li>

                </ul>
            </li>
            <li id="teacher_info_li">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">导师信息</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/view/student/teacher_info.jsp">导师简介</a></li>
                </ul>
            </li>
            <li id="fill_intention_li">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">选择导师</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/view/student/fill_intention.jsp">填报志愿信息</a></li>
                </ul>
            </li>

            <li id="view_intention_li">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">查看结果</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li id="view_intention"><a href="/view/student/view_intention.jsp">查看我的志愿填报</a></li>
                    <li id="final_result"><a href="/view/student/final_result.jsp">查看最终复选结果</a></li>
                </ul>
            </li>


            <li id="change_password_li">
                <a href="/view/student/change_password.jsp"><i class="fa fa-magic"></i> <span class="nav-label">修改密码 </a>
            </li>
        </ul>

    </div>
</nav>